.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
}

#states .active {
  display: none;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

.county-boundary {
  stroke: #fff;
  stroke-width: 0.5px;
}

.county-boundary-old:hover,
.state:hover {
  fill: orange;
}

.legend {
  border: hsl(0, 0%, 71%) 1px solid;
  margin: 20px 5px;
  padding: 10px;
  list-style: none;
  width: fit-content;
  .legend-title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
  }
  .legend-li {
    padding: 2px 0px;
    cursor: pointer;
    transition: all ease-in-out 200ms;
  }
  .legend-controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    margin-top: 5px;
  }
}

.tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 120px;
  color: #333;
  .tooltip-title {
    color: #000;
    font-size: 14px;
    font-weight: 600;
  }
}
.info {
  padding: 0px 10px;
  margin: 5px;
  font: 12px/14px Arial, sans-serif;
  border: hsl(0, 0%, 71%) 1px solid;
  width: fit-content;
  height: fit-content;
}

.grid-container {
  margin: auto 0px;
  width: fit-content;
  height: auto;
  display: grid;
  grid-template-columns: auto auto;
  grid-row: auto auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;

  .window {
    padding: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: hsl(0, 0%, 71%) 1px solid;
  }
}

* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
